/*@font-face {font-family: AnrSymbols; src: url(ANR_symbols_only-enlarged.ttf)}*/
@font-face {font-family: AnrSymbols; src: url(anr.ttf)}

body {color: white; background-color: black; -webkit-user-select: none; -moz-user-select: none; -khtml-user-select: none; -ms-user-select: none; font-family: AnrSymbols; cursor: default;}

.card {padding: 2px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; position: relative; z-index: 0;}
.card, .card_header, .card_center, .card_lower {float: left; width: 100%;}
.card_header {font-weight: bold;}
.card_leftside {float: left; width: 70%;}
.card_name {float: left;}
.card_subtype {float: left; font-weight: normal; margin-left: 2px;}
.card_stats {float: right;}
.card_center, .card_lower {display: none;}
.card_lower {font-style: italic;}

.progress_bar {position: absolute; height: 100%; background-color: black; z-index: 5; display: none;}

.deck {display: none; position: fixed; bottom: 0; left: 0; background-color: white; width: 100%;}
.deck_field {position: relative; float: left; padding: 2px;}
.key, .value {float: left;}
.collapsed {position: relative; float: left; width: 100%;}
.expanded {position: relative; float: left; width: 100%; display: none;}
.card_list {background-color: black; padding: 2px;}

table {border-collapse: collapse;}
.card_list table {float: left;}
.card_viewer th, .card_viewer td {border: 3px solid black; vertical-align: top;}
.card_list th, .card_list td {border: 3px solid white; vertical-align: top;}
table tr:first-child th {border-top: 0;}
table tr:last-child td {border-bottom: 0;}
table tr td:first-child, table tr th:first-child {border-left: 0;}
table tr td:last-child, table tr th:last-child {border-right: 0;}

#controls {width: 100%; color: black; background-color: black; font-weight: bold;}
.control {float: left; border-top: 0; border-bottom: 0; padding-right: 2px; padding-left: 2px; margin-right: 4px; background-color: white; color: black;}
.control_inverted {float: left; border-top: 0; border-bottom: 0; padding-right: 2px; padding-left: 2px; margin-right: 4px; background-color: black; color: white;}

.tab {display: none;}
#tabs {float: left;}

.haas-bioroid {background-color: #220055} /*'#6600FF'*/
.jinteki {background-color: #3E0B0B} /*'#BB2222'*/
.nbn {background-color: #554900} /*'#FFDD00'*/
.weyland_consortium {background-color: #002211} /*'#006633'*/
.neutral {background-color: #2D2D2D} /*'#888888'*/
.anarch {background-color: #553300} /*'#FF9900'*/
.criminal {background-color: #003849} /*'#00AADD'*/
.shaper {background-color: #00490B} /*'#00DD22'*/

.clickable:hover {opacity: 0.5; transition: opacity 0.3s; -webkit-transition: opacity 0.3s;}
.clickable:active {animation: clicked 1s 1;}
@keyframes clicked {
	from {opacity: 0;}
	to {opacity: 0.5;}
}
