body {color: white; background-color: black; -webkit-user-select: none; -moz-user-select: none; -khtml-user-select: none; -ms-user-select: none;}

.card {padding: 2px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; position: relative; z-index: 0;}
.card, .card_header, .card_center, .card_lower {float: left; width: 100%;}
.card_header {font-weight: bold;}
.card_leftside {float: left; width:70%;}
.card_name {float: left;}
.card_subtype {float: left; font-weight: normal; margin-left:2px;}
.card_stats {float: right;}
.card_center, .card_lower {display: none;}
.card_lower {font-style: italic;}

.progress_bar {position: absolute; height: 100%; background-color: black; z-index: 5;display: none;}

.deck {display: none; position: fixed; bottom: 0; left: 0; background-color: white; width: 100%;}
.deck_field {position: relative; float: left; padding: 2px;}
.key, .value {float: left;}

table {border-collapse: collapse;}
th, td {border: 3px solid black; vertical-align: top;}
table tr:first-child th {border-top: 0;}
table tr:last-child td {border-bottom: 0;}
table tr td:first-child, table tr th:first-child {border-left: 0;}
table tr td:last-child, table tr th:last-child {border-right: 0;}

#controls {width: 100%; color: black; background-color: black; font-weight: bold;}
.control {float: left; border-style: solid; border-width: 2px; border-top: 0; border-bottom: 0; padding-left: 2px; padding-right: 2px; background-color: white;}

.tab {display: none;}
#tabs {float: left;}
